extends ../layout

block content
  script(type="text/javascript").
    function Home() {
      document.form.submit();
    }
  form.form-inline.form-horizontal(method="post" action="/CreateAccount" name="form")
    div.container
      div.card.my-3
        div.card-header
          span.font-weight-bold 登録情報
        div.card-body
          if(errors)
            each error in errors
              span.text-danger.col-sm-3 ※#{error}
              br
          div.form-group.row.my-3
            label.col-sm-3.col-form-label ユーザ名
              span.badge.badge-danger 必須
            div.col-sm-9
              input.form-control(type="text" name="userName" value=Data['userName'] maxlength="32" required autocomplete="off")
          div.form-group.row.my-3
            label.col-sm-3.col-form-label メールアドレス
              span.badge.badge-danger 必須
            div.col-sm-9
              input.form-control(type="email" name="mail" value=Data['mail'] required autocomplete="off")
          div.form-group.row.my-3
            label.col-sm-3.col-form-label パスワード
              span.badge.badge-danger 必須
            div.col-sm-9
              input.form-control(type="password" name="password1" value=Data['password1'] required)
          div.form-group.row.my-3
            label.col-sm-3.col-form-label パスワード(確認用)
              span.badge.badge-danger 必須
            div.col-sm-9
              input.form-control(type="password" name="password2" value=Data['password2'] required)
        div.card-footer
          div.row
            div.button-group.mr-2
              button.btn.btn-outline-danger(type="button" name="mode" value="home" onclick="Home();") ホームへ戻る
            div.button-group.ml-auto
              button.btn.btn-primary(type="submit" name="mode" value="confirm") 入力内容の確認